{% if list.Type_Client == "B2C" %}
<button class="btnMenu" id="btnb2c" data-id={{list.ID_Carte}} style="color: black;font-size: 20px;font-weight: 600;border: black 5px;" >
                            B2C                            
                       </button>
                       {% endif %}