<nav class="site-nav navSFP">
    <ul style="margin-top:7px;">
        {% for item in lstSousF %}
            {% if item.Photo != "" %}
                <li class="navImgProduit2 "><a href="#0"  data-id="{{item.ID_FamilleSousC}}"><img src="..\Images\Carte\{{item.Photo}}" class="img-menu"><p>{{item.FamilleSousC}}</p></a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>