{# {% for item in list  %} #}
    <p> 
        <div class="input-group">
            <span class="input-group-text">ID Famille</span>
            <input type="text" aria-label="First name" class="form-control ID_Famille" value="{{list.ID_FamilleC}}"  disabled>
        </div>
    </p> 
    <p>
        <div class="input-group">
            <span class="input-group-text">Famille</span>
            <input type="text" aria-label="First name" class="form-control" value="{{list.FamilleC}}" disabled>
        </div>
    </p>  
    <p>
        <div class="input-group">
            <span class="input-group-text">Type Famille</span>
            <input type="text" aria-label="First name" class="form-control"  value="{{list.Type_Famille}}" disabled>
        </div>
    </p>  
    <p>
        <div class="input-group">
            <span class="input-group-text">Nom Arabe</span>
            <input type="text" aria-label="First name" class="form-control" value="{{list.FArabeC}}" disabled>
        </div>
    </p>
    <p>visible : <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></p>
{# {% endfor %} #}